<html>
<head>
  <title>People Counting Demo</title>
  <script type="text/javascript" src="/static/jquery.min-3.3.1.js"></script>
  <script type="text/javascript" src="/static/socket.io.min-1.3.6.js"></script>
  <style>
    body { width: 650px; }
    table.center {
        width:70%; 
        margin-left:15%; 
        margin-right:15%;
    }
    span.highlight {
        font-weight:bold;
        color:blue;
    }
    div.detection-title {
        font-weight:bold;
        font-size: 40px;
        text-align: center;
    }
    div.detection-number {
        font-weight:bold;
        font-size: 120px;
        text-align: center;
        color:blue;
    }
  </style>
</head>
<body>
  <div>
  <table class="center">
    <tr>
      <th>
          <h2 style="color:blue;">People Counting Demo</h2>
      </th>
    </tr>
    <tr>
      <th> &nbsp; Device ID: 
        <span id="detect_device"> - </span>
      </th>
    </tr>
    <tr>
      <th> &nbsp; Detect Time: 
        <span id="detect_when"> - </span>
      </th>
    </tr>
    <tr><td> &nbsp; </td></tr>
    <tr>
      <td>
        <img id="detect_image" height="600px" src="/static/wait.jpg" alt="Prediction Image"/>
      </td>
      <td>
        <table class="center">
          <tr>
            <td style="white-space:nowrap"> &nbsp; 
              <div class="detection-title"> Detected People </div>
              <div id="detect_count" class="detection-number">
                -
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr><td> &nbsp; </td></tr>
    <tr><td> &nbsp; </td></tr>
    <tr>
      <td> &nbsp; Camera Time: 
        <span id="detect_camtime" class="highlight"> - </span> seconds.
      </td>
    </tr>
    <tr>
      <td> &nbsp; Inferencing Time:
          <span id="detect_inftime" class="highlight"> - </span> seconds.
      </td>
    </tr>
    <tr><td> &nbsp; </td></tr>
  </table>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var socket = io.connect('http://' + document.domain + ':' + location.port);
  
      // listen for mqtt_message events
      // the data is the json payload from the inferencing result
      socket.on('mqtt_message', function(data) {
        var json = JSON.parse(data);
        $('#detect_device').text(json["deviceid"]);
        $('#detect_when').text(new Date(json["detect"]["date"] * 1000));
        $('#detect_count').text(json["detect"]["entities"][0]["details"].length);
        $('#detect_camtime').text(json["detect"]["camtime"]);
        $('#detect_inftime').text(json["detect"]["time"]);
        $("#detect_image").attr('src', "data:image/jpeg;charset=utf-8;base64," + json["detect"]["image"]);
      })
    });
  </script>
</body>
</html>